{% extends "base_menu.html" %}

{% block content %}

<h2>Correos electrónicos</h2>
<!--
{% if form.errors and error%}
    {% for field in form %}
        
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{field.name}}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
        
    {% endfor %}

{% endif %}
-->
<!--<form action="/correo/list" method="get" class="form-hotizontal">


<button  type="submit" class="btn btn-primary">Buscar</button>

</form>-->

{% if reg %}
<div class="row">

<div class="pagination">
    <span class="step-links">   
        Páginas: 
        {% if reg.has_previous %}
            <a href="?page={{ reg.previous_page_number }}"><i class="glyphicon glyphicon-chevron-left"></i></a>
        {% endif %}

        <span class="current">
             <strong>{{ reg.number }} / {{ reg.paginator.num_pages }}</strong>
        </span>

        {% if reg.has_next %}
	<a href="?page={{ reg.next_page_number }}"><i class="glyphicon glyphicon-chevron-right"></i></a>
        {% endif %}
    </span>
</div>
<table class="table table-bordered">
    <tr>
        <td>Fecha</td>
        <td>Asunto</td>
        <td>Destinatarios</td>
        <!--<td>Ver</td>
	<td>Enviar</td>-->
    </tr>
    
    {% for r in reg %}
    <tr>
        <td>{{r.Fecha|date:"d/m/Y"}}</td>
        <td>{{r.Asunto}}</td>
	<td><ul>
	{% for dest in r.Destinatarios.all %}
	<li><small>{{dest}}</small></li>
	{% endfor %}
	</ul></td>
	<!--<td><a href=""><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></a></td>
             <td><a href=""><span class="glyphicon glyphicon-envelope" aria-hidden="true"></a></td>-->

        
    </tr>
    {% endfor %}
    </table>

<br/>

</div>
{% else %}
    <p>No hay correos</p>

{% endif %}

{% endblock %}
