{% extends "base_menu.html" %}

{% block content %}

{% if tipo == 'e' %}
    <h2>Registro de Entrada ({{curso}})</h2>
{% endif%}
{% if tipo == 's' %}
    <h2>Registro de Salida ({{curso}})</h2>
{% endif%}

{% if form.errors and error%}
    {% for field in form %}
        
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{field.name}}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
        
    {% endfor %}

{% endif %}

<form action="/registro/{{tipo}}" method="get" class="form-hotizontal">


    <div class="form-group">
        <div class="col-xs-8    ">
            <label>Curso:</label>
            {{ form.Curso}}
        </div>

        <div class="col-xs-10">
            <label>Fechas:</label>
            {{ form.Desde }}-{{form.Hasta }}
        </div>
        <div class="col-xs-6">
       <label>Procedencia:</label> {{ form.Procedencia }}
         </div>
         <div class="col-xs-6">
       <label>Remitente:</label> {{ form.Remitente }}
         </div>
         <div class="col-xs-6">
    <label>Documento:</label> {{ form.Documento }}
    </div>
    <div class="col-xs-6">
    <label>Contenido:</label>{{form.Contenido}}
    </div>
</div>
 <br/>
<button  type="submit" class="btn btn-primary">Buscar</button>

</form>

{% if reg %}
<div class="row">

<div class="pagination">
    <span class="step-links">   
        Páginas: 
        {% if reg.has_previous %}
            <a href="?page={{ reg.previous_page_number }}{{busqueda}}"><i class="glyphicon glyphicon-chevron-left"></i></a>
        {% endif %}

        <span class="current">
             <strong>{{ reg.number }} / {{ reg.paginator.num_pages }}</strong>
        </span>

        {% if reg.has_next %}
            <a href="?page={{ reg.next_page_number }}{{busqueda}}"><i class="glyphicon glyphicon-chevron-right"></i></a>
        {% endif %}
    </span>
</div>
<table class="table table-bordered">
    <tr>
        <td>N.</td>
        <td>Fecha</td>
        <td>Procedencia</td>
        <td>Remitente</td>
        <td>Doc.</td>
        <td>Contenido</td>
        
    </tr>
    
    {% for r in reg %}
    <tr>
        <td>{{r.N}}</td>
        <td>{{r.Fecha|date:"d/m/Y"}}</td>
        <td>{{r.Idp}}</td>
        <td>{{r.Idr}}</td>
        <td>{{r.Idc}}</td>
        <td>{{r.Contenido}}</td>
        
        
    </tr>
    {% endfor %}
    </table>

<br/>

</div>
{% else %}
    <p>No hay registros</p>

{% endif %}

{% endblock %}