{% extends "base_menu.html" %}

{% block title %}Centro{% endblock %}

{% block content %}
<h2>Citaciones</h2>
{% if form.errors and error%}
    {% for field in form %}
    	<div class="alert alert-error">
        {% for error in field.errors %}
        
                <strong>{{field.name}}: {{ error|escape }}</strong>
        
        {% endfor %}
        </div>
    {% endfor %}
<br/>
{% endif %}

<form action="/convivencia/citacion/{{alum.id}}" method="post">
    {% csrf_token %}
    <div class="Tabla" >
    <table>
        <tr>
            <td>Alumno</td><td>{{alum.Nombre}} ({{alum.Unidad}})</td>
        </tr>
    {{ form }}
    
</table>
</div>
<br/><input type="submit" value="Guardar" />
</form>
<br/><br/>

{% endblock %}