{% extends "base_menu.html" %}

{% block title %}Centro{% endblock %}

{% block content %}

{% if tipo = 'a' %}
	<h2>Resumen Amonestaciones</h2>
{% endif%}
{% if tipo = 's' %}
	<h2>Resumen Sanciones</h2>
{% endif%}
<center>
<table>
	<tr>
		<td>
			<a href="/convivencia/resumen/{{tipo}}/{{fechas.1|date:"m"}}/{{fechas.1|date:"Y"}}"><img src="/static/img/prev.png"/></a>
		</td>
		<td>
			<h2>{{fechas.0|date:"F"}} - {{fechas.0|date:"Y"}}</h2>
		</td>
		<td>
			<a href="/convivencia/resumen/{{tipo}}/{{fechas.2|date:"m"}}/{{fechas.2|date:"Y"}}"><img src="/static/img/next.png"/></a>
		</td>
	</tr>
</table>
	<form action="/convivencia/resumen/{{tipo}}/{{fechas.0|date:"m"}}/{{fechas.0|date:"Y"}}" method="post">
    {% csrf_token %}
    <div class="Tabla" >
    <table><tr></tr>
       
    {{ form }}
    
</table>
</div>
<br/><input type="submit" value="Buscar" />
</form>
<br/>
</table>
</center>
{% autoescape off %}
<div class="Tabla" >
    {{calhtml}}
</div>

{{txt}}
{% endautoescape %}
{% endblock %}
