{% extends "base_menu.html" %}

{% block title %}Centro{% endblock %}

{% block content %}
{% if tipo = 'a' %}
    <h2>Resumen Amonestaciones</h2>
{% endif%}
{% if tipo = 's' %}
    <h2>Resumen Sanciones</h2>
{% endif%}
{% if tipo = 'c' %}
    <h2>Resumen Citaciones</h2>
{% endif%}
<h2>{{fecha|date:"d - F - Y"}}</h2>

{% if datos %}
<div class="Tabla" >
<table>
	<tr>
        <td>N.</td>
        <td>Alumno</td>
        <td>Unidad</td>
        {% if tipo != 's' %}
            <td>A/S</td>  
        {% endif%}  
        {% if tipo = 's' %}
            <td>Sanción</td>
            <td>F ini.</td>
            <td>F fin.</td>
            <td>F inc.</td>
            <td>Carta</td>
        {% endif%}  
    </tr>
	
    {% for n,h,contar in datos %}
    <tr>
        <td>{{ n }}</td>
        <td>{{h.IdAlumno.Nombre}}</td>
    	<td>{{h.IdAlumno.Unidad}}</td>
        {% if tipo != 's' %}
        <td>{{contar}}</td>
        {% endif%}
        {% if tipo = 's' %}
            <td>{{h.Sancion}}</td>
            <td>{{h.Fecha|date:"d/m/Y"}}</td>
            <td>{{h.Fecha_fin|date:"d/m/Y"}}</td>
            <td>{{h.Fecha_incorporacion|date:"d/m/Y"}}</td>
            <td><a href="/impresora/carta/sanciones/{{h.id}}"/><img src="/static/img/report.gif"/></a></td>
        {% endif%}
        
    </tr>
    {% endfor %}
    </table>

</div>
<br/>
<br/>
    {% if tipo = 'a' %}
        <a class="btn" href="/impresora/carta/amonestaciones/{{fecha|date:"m"}}/{{fecha|date:"Y"}}/{{fecha|date:"d"}}">Cartas</a>
    {% endif%}    
    {% if tipo = 'c' %}
        <a class="btn" href="/impresora/carta/citaciones/{{fecha|date:"m"}}/{{fecha|date:"Y"}}/{{fecha|date:"d"}}">Cartas</a>
    {% endif%}    
<br/>
<br/>

{% else %}
    <p>No hay resumen de amonestaciones/sanciones/amonestaciones.</p>
{% endif %}
{% endblock %}