{% extends "base_menu.html" %}

{% block title %}Centro{% endblock %}

{% block content %}
<h2>Alumnos</h2>

<form action="/centro/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Buscar" />
<br/><br/>
{% if alumnos %}
<div class="Tabla" >
<table>
	<tr>
		<td>Nombre</td>
		<td>Cuenta</td>
		<td>Amonestación</td>
		<td>Sanción</td>
	</tr>
	
    {% for alum,num_faltas in alumnos %}
    <tr>
    	<td>{{alum.Nombre}}</td>
    	<td>{{num_faltas}}</td>
    	
    	<td><a href="/convivencia/amonestacion/{{alum.id}}">Amonestación</a></td>
    	<td><a href="/convivencia/sancion/{{alum.id}}">Sanción</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay alumnos</p>
{% endif %}
{% endblock %}