{% extends "base_menu.html" %}

{% block title %}Centro{% endblock %}

{% block content %}
<h2>Alumnos</h2>

<form action="/centro/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Buscar" /></form>
<br/><br/>
{% if alumnos %}
<div class="Tabla" >
<table>
	<tr>
		<td>N.</td>
		<td>Nombre</td>
		<td>A/S/C</td>
        <td>Acum.</td>
		<td>A</td>
		<td>S</td>
        <td>C</td>
        <td>H</td>
	</tr>
	
    {% for alum,num_faltas,acum,n in alumnos %}
    <tr>
    	<td>{{n}}</td>
    	<td>{{alum.Nombre}}</td>
    	<td>{{num_faltas}}</td>
        <td>{{acum}}</td>
    	
    	<td><a href="/convivencia/amonestacion/{{alum.id}}"><img src="/static/img/amon.png"/></a></td>
    	<td><a href="/convivencia/sancion/{{alum.id}}"><img src="/static/img/sans.png"/></a></td>
        <td><a href="/convivencia/citacion/{{alum.id}}"><img src="/static/img/cit.png"/></a></td>
        <td><a href="/convivencia/historial/{{alum.id}}"><img src="/static/img/hist.png"/></a></td>
    </tr>
    {% endfor %}
    </table>
</div>
{% else %}
    <p>No hay alumnos</p>
{% endif %}
{% endblock %}